@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .container {
    @apply w-[94%] sm:w-[620px] md:w-[720px] lg:w-[960px] xl:w-[1140px] 2xl:w-[72%] mx-auto;
  }
  .payment-container {
    @apply w-[90%] ml-auto;
  }
  .payment-container-end {
    @apply w-[70%] mr-auto;
  }
  /* .card-title {
    @apply tracking-[5px] font-semibold text-2xl lg:text-3xl text-text-color mb-10;
  } */
  .heading-3 {
    @apply text-3xl font-medium;
  }
  .heading-4 {
    @apply text-2xl font-medium text-center mb-10 text-gray-700;
  }
  .card-title {
    @apply tracking-wide lg:tracking-[5px] font-semibold text-2xl lg:text-3xl text-text-color mb-6 lg:mb-10;
  }
}

/* swiper slider style start */
.swiper-pagination .swiper-pagination-bullet {
  background: transparent;
  border: 1px solid #896e14;
  height: 10px !important;
  opacity: 1;
  width: 10px !important;
}
.swiper-pagination .swiper-pagination-bullet-active {
  background: #630303 !important;
  border: none;
}

.card-mobile .swiper-slide {
  display: grid;
  gap: 10px;
}
.swiper {
  height: 100% !important;
}
.swiper-scrollbar.swiper-scrollbar-horizontal {
  position: relative !important;
  margin-top: 20px;
}
/* swiper slider style end */

/* hide scrollbar section start  */

/* Hide scrollbar in Firefox */
.scrollbar-none {
  scrollbar-width: none;
  -moz-appearance: none;
}

/* Hide scrollbar in Webkit browsers */
.scrollbar-none::-webkit-scrollbar {
  width: 0.25rem;
}

.scrollbar-none::-webkit-scrollbar-track {
  background-color: transparent;
}

.scrollbar-none::-webkit-scrollbar-thumb {
  background-color: transparent;
}
/* hide scrollbar section end  */

/* .modal-box {
  min-width: 100vw !important;
  min-height: 100vh !important;
} */

.box-shadow {
  -webkit-box-shadow: -2px 0px 16px -1px rgba(153, 153, 153, 1);
  -moz-box-shadow: -2px 0px 16px -1px rgba(153, 153, 153, 1);
  box-shadow: -2px 0px 16px -1px rgba(153, 153, 153, 1);
}
.product-modal .swiper-vertical {
  margin: 10px 15px auto;
}

.product-modal .swiper-wrapper {
  position: fixed !important;
}
